body {
    font-family: "Open Sans";
    font-style: normal;
}

.container-fluid {
    overflow: hidden;
}

.intro-top,
.font-top,
.button-resume {
    font-family: 'Athelas Regular', Georgia, serif;
    color: #FFF;

}

.font-color-39 {
    color: #393939;
}

div[class*="referencesLink"]>a:link,
div[class*="referencesLink"]>a:visited {
    color: #000;
}

.num {
    color: #393939;
    padding: 10px;
    width: 50px;
    text-align: center;
}

ul[class*="anotherPoints"]>li {
    list-style-type: disc;
}

.responsive-iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
    overflow-y: hidden;
    overflow-x: visible;
}

/*COL / COL-SM*/
@media (max-width: 767px) {

    ul>li>a {
        color: #393939 !important;
    }

    .intro-top {
        font-size: 1.5rem;
    }

    .font-top {
        font-size: 2rem;
    }

    .work-intro {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    .work-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
    }

    .work-subtitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.2em;
        color: #393939;
    }

    .button-download-resume {
        width: 155px;
        height: 49px;
        font-size: 1rem;
        border: solid 1px #FFF;
        color: #FFF;
    }

    .dihya,
    .hitMeUp {
        font-family: 'Athelas Regular', Georgia, serif;
        font-size: 1.5rem;
        line-height: 26.88px;
    }

    .dihya {
        font-weight: 400;
    }

    .hitMeUp {
        font-style: italic;
        font-weight: 700;
    }

    .contactInfoFooter:link,
    .contactInfoFooter:visited {
        color: #FFF;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 33px;
    }

    .font-resume {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 26.88px;
    }

    .font-work-xp {
        font-weight: 700;
        font-size: 20px;
        line-height: 27.24px;
    }

    .previous-job-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-job-subtitle {
        font-weight: 400;
        color: #393939;
        font-size: 12px;
        line-height: 16.34px;
    }

    .previous-job-company {
        font-weight: 700;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-job-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-college-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
    }

    /*Client Page*/
    .font-clientName {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .font-clientSubtitle {
        color: #393939;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    .textSections {
        color: #393939;
        font-weight: 700;
        line-height: 21.79px;
    }

    .zoom {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: zoom-in;
    }

    .zoom:hover,
    .zoom:active,
    .zoom:focus {
        /**adjust scale to desired size, 
add browser prefixes**/
        -ms-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        -o-transform: scale(2.5);
        transform: scale(2.5);
        position: relative;
        z-index: 100;
    }

    .footerImageInfo {
        color: #8E8E8E;
        font-weight: 700;
        font-style: italic;
        font-size: 0.75rem;
        line-height: 16.34px;
    }

    .questionOne {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 32.68px;
    }

    .confidentialBox {
        background-color: #F2F2F2;
        border-radius: 8px;
        font-style: italic;
        font-size: 12px;
        line-height: 16.34px;
    }

    .clientComments {
        font-style: italic;
    }

    .fontWeight300 {
        font-weight: 300;
    }

    .fontWeight700 {
        font-weight: 700;
    }

    .videoBorders {
        border: 1.5px solid #5D5FEF;
        border-radius: 4px;
    }

    .videoDispose {
        max-width: 100%;
        height: 100%;
    }
    div.mainTopBackground{
        height: 100px;
    }
    #backgroundTopHeight {
        width: 100%;
        min-height: 850px;
        max-height: 850px;
    }

 
    div.background-top {
        float: left;
        width: 100%;
        background-repeat: no-repeat;

    }

    div.content {
        background-image: linear-gradient(269.76deg, rgba(0, 0, 0, 0.3) 1.57%, rgba(121, 121, 121, 0) 103.73%);
        position: absolute;
        width: 100%;
        max-width: 100%;
        min-height: 803px;
        top: 0px;
        left: 0px;
    }
    .buttonDownloadResumeBeforeAbout {
        font-size:1rem;
        border: solid 1px #000;
        color: #000;
        background-color: #FFF;
    }

}

/*COL-MD*/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
        background: none;
    }

    ul>li>a[class*="resumePage"],
    ul>li>a[class*="indexPage"] {
        color: #393939 !important;
    }

    .intro-top {
        font-size: 1.5rem;
    }

    .font-top {
        font-size: 2rem;
    }

    .button-resume {
        font-size: 1.5rem;
    }

    .button-download-resume {
        width: 155px;
        height: 49px;
        font-size: 1.5rem;
        border: solid 1px #FFF;
        color: #FFF;
    }

    .work-intro {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    .work-title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 22px;
    }

    .aboutMe-intro {
        font-size: 1rem;
        font-weight: 400;
        line-height: 32px;
    }

    .work-subtitle {
        font-weight: 400;
        font-size: 1rem;
        line-height: 22px;
        letter-spacing: 0.2em;
        color: #393939;
    }

    .dihya,
    .hitMeUp {
        font-family: 'Athelas Regular', Georgia, serif;
        font-size: 1.5rem;
        line-height: 26.88px;
    }

    .dihya {
        font-weight: 400;
    }

    .hitMeUp {
        font-style: italic;
        font-weight: 700;
    }

    .bottom-shadow {
        -webkit-box-shadow: 0 4px 6px -6px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #222;
    }

    .font-resume {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 26.88px;
    }

    .font-work-xp {
        font-weight: 700;
        font-size: 20px;
        line-height: 27.24px;
    }

    .previous-job-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-job-subtitle {
        font-weight: 400;
        color: #393939;
        font-size: 12px;
        line-height: 16.34px;
    }

    .previous-job-company {
        font-weight: 700;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-job-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-college-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
    }

    .contactInfoFooter:link,
    .contactInfoFooter:visited {
        color: #FFF;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 33px;
    }

    /*Client Page*/
    .font-clientName {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 50px;

    }

    .font-clientSubtitle {
        color: #393939;
        font-weight: 400;
        font-size: 1rem;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    .textSections {
        color: #393939;
        font-weight: 700;
        font-size: 1.10rem;
        line-height: 20px;
    }

    .zoom {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: zoom-in;
    }

    .zoom:hover,
    .zoom:active,
    .zoom:focus {
        /**adjust scale to desired size, 
add browser prefixes**/
        -ms-transform: scale(2.5);
        -moz-transform: scale(2.5);
        -webkit-transform: scale(2.5);
        -o-transform: scale(2.5);
        transform: scale(2.5);
        position: relative;
        z-index: 100;
    }

    .footerImageInfo {
        color: #8E8E8E;
        font-weight: 700;
        font-style: italic;
        font-size: 1rem;
        line-height: 16.34px;
    }

    .questionOne {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 2rem;
        line-height: 32.68px;
    }

    .confidentialBox {
        background-color: #F2F2F2;
        border-radius: 8px;
        font-style: italic;
        font-size: 12px;
        line-height: 16.34px;
    }

    .moreProjects {
        font-family: 'Athelas Regular', Georgia, serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 70px;
    }

    .nextProject {
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 30px;
    }

    .clientComments {
        font-style: italic;
    }

    .fontWeight300 {
        font-weight: 300;
    }

    .fontWeight700 {
        font-weight: 700;
    }

    .videoBordersWithoutRight {
        border-top: 1.5px solid #5D5FEF;
        border-left: 1.5px solid #5D5FEF;
        border-bottom: 1.5px solid #5D5FEF;
        border-radius: 4px;
    }

    .videoBordersWithoutLeft {
        border-top: 1.5px solid #5D5FEF;
        border-right: 1.5px solid #5D5FEF;
        border-bottom: 1.5px solid #5D5FEF;
        border-radius: 4px;
    }

    .videoAllBorders {
        border: 1.5px solid #5D5FEF;
    }

    .videoDispose {
        max-width: 100%;
        height: 100%;
    }

    div.mainTopBackground{
        height: 750px;
    }
    #backgroundTopHeight {
        width: 100%;
        min-height: 760px;
        max-height: 760px;
    }

 
    div.background-top {
        float: left;
        width: 100%;
        background-repeat: no-repeat;

    }

    div.content {
        background-image: linear-gradient(269.76deg, rgba(0, 0, 0, 0.3) 1.57%, rgba(121, 121, 121, 0) 103.73%);
        position: absolute;
        width: 100%;
        max-width: 100%;
        min-height: 714px;
        top: 0px;
        left: 0px;
    }
    .buttonDownloadResumeBeforeAbout {
        font-size:1rem;
        border: solid 1px #000;
        color: #000;
        background-color: #FFF;
    }


}

/*COL-LG*/
@media (min-width: 992px) and (max-width: 1199px) {


    ul>li>a[class*="resumePage"],
    ul>li>a[class*="indexPage"] {
        color: #393939 !important;
    }

    .intro-top {
        font-size: 1.5rem;
    }

    .font-top {
        font-size: 2rem;
    }

    .button-resume {
        font-size: 1.5rem;
    }

    .button-download-resume {
        width: 155px;
        height: 49px;
        font-size: 1.5rem;
        border: solid 1px #FFF;
        color: #FFF;
    }

    .work-intro {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    .work-title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 22px;
    }

    .aboutMe-intro {
        font-size: 1rem;
        font-weight: 400;
        line-height: 32px;
    }

    .dihya,
    .hitMeUp {
        font-family: 'Athelas Regular', Georgia, serif;
        font-size: 1.5rem;
        line-height: 26.88px;
    }

    .dihya {
        font-weight: 400;
    }

    .hitMeUp {
        font-style: italic;
        font-weight: 700;
    }

    .bottom-shadow {
        -webkit-box-shadow: 0 4px 6px -6px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #222;
    }

    .font-resume {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 26.88px;
    }

    .font-work-xp {
        font-weight: 700;
        font-size: 20px;
        line-height: 27.24px;
    }

    .previous-job-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-job-subtitle {
        font-weight: 400;
        color: #393939;
        font-size: 12px;
        line-height: 16.34px;
    }

    .previous-job-company {
        font-weight: 700;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-job-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-college-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
    }

    .contactInfoFooter:link,
    .contactInfoFooter:visited {
        color: #FFF;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 33px;
    }

    /*Client Page*/
    .font-clientName {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 3rem;
        line-height: 50px;

    }

    .font-clientSubtitle {
        color: #393939;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    .textSections {
        color: #393939;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 20px;
    }

    .footerImageInfo {
        color: #8E8E8E;
        font-weight: 700;
        font-style: italic;
        font-size: 0.75rem;
        line-height: 16.34px;
    }

    .questionOne {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 2.75rem;
        line-height: 32.68px;
    }

    .confidentialBox {
        background-color: #F2F2F2;
        border-radius: 8px;
        font-style: italic;
        font-size: 1rem;
        line-height: 20px;
    }

    .moreProjects {
        font-family: 'Athelas Regular', Georgia, serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 70px;
    }

    .nextProject {
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 30px;
    }

    .clientComments {
        font-style: italic;
    }

    .fontWeight300 {
        font-weight: 300;
    }

    .fontWeight700 {
        font-weight: 700;
    }

    .videoBordersWithoutRight {
        border-top: 1.5px solid #5D5FEF;
        border-left: 1.5px solid #5D5FEF;
        border-bottom: 1.5px solid #5D5FEF;
        border-radius: 4px;
    }

    .videoBordersWithoutLeft {
        border-top: 1.5px solid #5D5FEF;
        border-right: 1.5px solid #5D5FEF;
        border-bottom: 1.5px solid #5D5FEF;
        border-radius: 4px;
    }

    .videoAllBorders {
        border: 1.5px solid #5D5FEF;

    }

    .videoDispose {
        max-width: 100%;
        height: 100%;
    }

    div.mainTopBackground{
        height: 750px;
    }
    #backgroundTopHeight {
        width: 100%;
        min-height: 760px;
        max-height: 760px;
    }

 
    div.background-top {
        float: left;
        width: 100%;
        background-repeat: no-repeat;

    }

    div.content {
        background-image: linear-gradient(269.76deg, rgba(0, 0, 0, 0.3) 1.57%, rgba(121, 121, 121, 0) 103.73%);
        position: absolute;
        width: 100%;
        max-width: 100%;
        min-height: 714px;
        top: 0px;
        left: 0px;
    }
    .buttonDownloadResumeBeforeAbout {
        font-size:1rem;
        border: solid 1px #000;
        color: #000;
        background-color: #FFF;
    }


}

/*COL-XL*/
@media (min-width: 1200px) {

    ul>li>a[class*="resumePage"],
    ul>li>a[class*="indexPage"] {
        color: #393939 !important;
    }

    .intro-top {
        font-size: 2.0rem;
    }

    .font-top {
        font-size: 3.5rem;
    }

    .button-resume {
        font-size: 1.5rem;
    }

    .nav-button-style {
        font-weight: 400;
        font-size: 1rem;
    }

    .work-intro {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    .work-title {
        font-weight: 700;
        font-size: 2.6rem;
        line-height: 57px;
    }

    .work-subtitle {
        font-weight: 400;
        font-size: 1rem;
        line-height: 22px;
        letter-spacing: 0.2em;
        color: #393939;
    }

    .aboutMe-intro {
        font-size: 1rem;
        font-weight: 400;
        line-height: 32px;
    }

    .button-download-resume {
        width: 155px;
        height: 49px;
        font-size: 1.5rem;
        border: solid 1px #FFF;
        color: #FFF;
    }
    .buttonDownloadResumeBeforeAbout {
        font-size:1rem;
        border: solid 1px #000;
        color: #000;
        background-color: #FFF;
    }

    .dihya,
    .hitMeUp {
        font-family: 'Athelas Regular', Georgia, serif;
        font-size: 2.5rem;
        line-height: 60px;
    }

    .dihya {
        font-weight: 400;
    }

    .hitMeUp {
        font-style: italic;
        font-weight: 700;
    }

    .contactInfoFooter {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 43px;
    }

    .contactInfoFooter:link,
    .contactInfoFooter:visited {
        color: #FFF;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 43px;
    }

    .bottom-shadow {
        -webkit-box-shadow: 0 4px 6px -6px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #222;
    }

    .font-resume {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 70px;
    }

    .font-work-xp {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 42px;
    }

    .previous-job-title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 42px;
    }

    .previous-job-subtitle {
        font-weight: 400;
        color: #393939;
        font-size: 1rem;
        line-height: 42px;
    }

    .previous-job-company {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 42px;
    }

    .previous-job-description {
        font-weight: 400;
        font-size: 1rem;
        line-height: 32.68px;
    }

    .previous-college-description {
        font-weight: 400;
        font-size: 1rem;
        line-height: 32.68px;
    }

    .footerMessage {
        font-size: 1.2rem;
    }

    /*Client Page*/
    .font-clientName {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 3rem;
        line-height: 50px;

    }

    .font-clientSubtitle {
        color: #393939;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    .textSections {
        color: #393939;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 20px;
    }

    .footerImageInfo {
        color: #8E8E8E;
        font-weight: 700;
        font-style: italic;
        font-size: 1.25rem;
        line-height: 16.34px;
    }

    .questionOne {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 3rem !important;
        line-height: 54px;
    }

    .confidentialBox {
        background-color: #F2F2F2;
        border-radius: 8px;
        font-style: italic;
        font-size: 1rem;
        line-height: 20px;
    }

    .moreProjects {
        font-family: 'Athelas Regular', Georgia, serif;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
    }

    .nextProject {
        font-style: normal;
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 45px;
    }

    p[class*="font-xl"] {
        font-size: 1.25rem;
    }

    .clientComments {
        font-style: italic;
    }

    .fontWeight300 {
        font-weight: 300;
    }

    .fontWeight700 {
        font-weight: 700;
    }

    .videoBordersWithoutRight {
        border-top: 1.5px solid #5D5FEF;
        border-left: 1.5px solid #5D5FEF;
        border-bottom: 1.5px solid #5D5FEF;
        border-radius: 4px;
    }

    .videoBordersWithoutLeft {
        border-top: 1.5px solid #5D5FEF;
        border-right: 1.5px solid #5D5FEF;
        border-bottom: 1.5px solid #5D5FEF;
        border-radius: 4px;
    }

    .videoAllBorders {
        border: 1.5px solid #5D5FEF;
    }

    .videoDispose {
        max-width: 100%;
        height: 100%;
    }

    div.mainTopBackground{
        height: 900px;
    }
    #backgroundTopHeight {
        width: 100%;
        min-height: 795px;
        max-height: 795px;
    }

 
    div.background-top {
        float: left;
        width: 100%;
        background-repeat: no-repeat;

    }

    div.content {
        background-image: linear-gradient(269.76deg, rgba(0, 0, 0, 0.3) 1.57%, rgba(121, 121, 121, 0) 103.73%);
        position: absolute;
        width: 100%;
        max-width: 100%;
        min-height: 746px;
        top: 0px;
        left: 0px;
    }


}


.subsection-navbar {
    background-color: #F7F7F7;
    border-top: #BDBDBD 1px solid;
}


.navbar-opened {
    background: #FFF;
}

.secondSectionMenu {
    background-color: #F7F7F7;
    border-top: #BDBDBD 1px solid
}

#navbarWeight {
    font-size: 0.938em;
}

.btn:focus {
    box-shadow: none !important;
}

.navbar-toggler {
    border: none;
}

.backgroundImageInitBody {
    position: relative;
    margin-top: 70px;
}

.h1Body {
    position: absolute;
    font-size: 42px;
    font-weight: 700;
    margin-left: 35px;
}

.profileImage {
    margin-top: 150px;
    margin-left: 150px;
    width: 210px;
    height: 210px;
    object-fit: cover;
    object-position: 20% 50%;
}

.intro-body {
    font-size: 16px;
    text-align: justify;
    padding: 35px 35px;
}

.font-top-resume-mainsec {
    color: #000;
    font-size: 16px;
    text-decoration: underline;
    line-height: 24px;
    font-weight: 700;
}

.font-top-resume-subsec {
    color: #000;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
}

.spacing-sides {
    padding: 16px 36px 64px 36px;
    font-weight: 400;
}

.to-uppercase {
    text-transform: uppercase;
}

.spacing-initial-work-content {
    margin-top: 96px;
    margin-bottom: 64px;
}

.work-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #393939;
}

.work-link {
    position: relative;
    top: 50px;
    margin-left: 2.5em;
}

.work-image {
    position: relative;
    top: 70px;

}

.work-breakline {
    width: 75%;
    color: #9C9C9C;
    background-color: #9C9C9C;
}

.work-breakline-100 {
    width: 100%;
    color: #9C9C9C;
    background-color: #9C9C9C;
}

.contacts-breakline {
    width: 100%;
    color: #FFF;
    background-color: #FFF;
}

.background-footer {
    color: #FFF;
    background-color: #2C2C2C;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
}

div>span[class*="font-top-resume-mainsec"]>a:visited {
    color: #000;
}

    
a,
a:link,
a:visited {
    color: #000;
    text-decoration: none;

}

.hoverLink:hover {
    text-decoration: underline !important;
}

.accessProjects,
.accessProjects:link {
    color: #000;
    text-decoration: none;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
}

.obj-cover {
    object-fit: cover;
}
#StickyDownloadResume {
    color: black;
    padding: 6px;
    position: relative;
    bottom: 0px;
    left: 0px;

  }
  