body {
    font-family: "Open Sans";
    font-style: normal;
}

.container-fluid {
    overflow: hidden;
}

.intro-top,
.font-top,
.button-resume {
    font-family: 'Athelas Regular', Georgia, serif;
    color: #FFF;

}

/*COL / COL-SM*/
@media (max-width: 767px) {

    ul>li>a {
        color: #393939 !important;
    }

    .intro-top {
        font-size: 1.5rem;
    }

    .font-top {
        font-size: 2rem;
    }

    .work-intro {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    .work-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
    }

    .work-subtitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 0.2em;
        color: #393939;
    }

    .button-download-resume {
        width: 155px;
        height: 49px;
        font-size: 1rem;
        border: solid 1px #FFF;
        color: #FFF;
    }

    .dihya,
    .hitMeUp {
        font-family: 'Athelas Regular', Georgia, serif;
        font-size: 1.5rem;
        line-height: 26.88px;
    }

    .dihya {
        font-weight: 400;
    }

    .hitMeUp {
        font-style: italic;
        font-weight: 700;
    }

    .contactInfoFooter:link,
    .contactInfoFooter:visited {
        color: #FFF;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 33px;
    }

    .font-resume {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 26.88px;
    }

    .font-work-xp {
        font-weight: 700;
        font-size: 20px;
        line-height: 27.24px;
    }

    .previous-job-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-job-subtitle {
        font-weight: 400;
        color: #393939;
        font-size: 12px;
        line-height: 16.34px;
    }

    .previous-job-company {
        font-weight: 700;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-job-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-college-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
    }
}

/*COL-MD*/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse {
        background: none;
    }

    ul>li>a[class*="indexPage"] {
        color: #FFF !important;
    }

    ul>li>a[class*="resumePage"] {
        color: #393939 !important;
    }

    .intro-top {
        font-size: 1.5rem;
    }

    .font-top {
        font-size: 2rem;
    }

    .button-resume {
        font-size: 1.5rem;
    }

    .button-download-resume {
        width: 155px;
        height: 49px;
        font-size: 1.5rem;
        border: solid 1px #FFF;
        color: #FFF;
    }

    .work-intro {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    .work-title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 22px;
    }

    .aboutMe-intro {
        font-size: 1rem;
        font-weight: 400;
        line-height: 32px;
    }

    .work-subtitle {
        font-weight: 400;
        font-size: 1rem;
        line-height: 22px;
        letter-spacing: 0.2em;
        color: #393939;
    }

    .dihya,
    .hitMeUp {
        font-family: 'Athelas Regular', Georgia, serif;
        font-size: 1.5rem;
        line-height: 26.88px;
    }

    .dihya {
        font-weight: 400;
    }

    .hitMeUp {
        font-style: italic;
        font-weight: 700;
    }

    .bottom-shadow {
        -webkit-box-shadow: 0 4px 6px -6px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #222;
    }

    .font-resume {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 26.88px;
    }

    .font-work-xp {
        font-weight: 700;
        font-size: 20px;
        line-height: 27.24px;
    }

    .previous-job-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-job-subtitle {
        font-weight: 400;
        color: #393939;
        font-size: 12px;
        line-height: 16.34px;
    }

    .previous-job-company {
        font-weight: 700;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-job-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-college-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
    }
    .contactInfoFooter:link,
    .contactInfoFooter:visited {
        color: #FFF;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 33px;
    }
}

/*COL-LG*/
@media (min-width: 992px) and (max-width: 1199px) {

    ul>li>a[class*="indexPage"] {
        color: #FFF !important;
    }

    ul>li>a[class*="resumePage"] {
        color: #393939 !important;
    }

    .intro-top {
        font-size: 1.5rem;
    }

    .font-top {
        font-size: 2rem;
    }

    .button-resume {
        font-size: 1.5rem;
    }

    .button-download-resume {
        width: 155px;
        height: 49px;
        font-size: 1.5rem;
        border: solid 1px #FFF;
        color: #FFF;
    }

    .work-intro {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    .work-title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 22px;
    }

    .aboutMe-intro {
        font-size: 1rem;
        font-weight: 400;
        line-height: 32px;
    }

    .dihya,
    .hitMeUp {
        font-family: 'Athelas Regular', Georgia, serif;
        font-size: 1.5rem;
        line-height: 26.88px;
    }

    .dihya {
        font-weight: 400;
    }

    .hitMeUp {
        font-style: italic;
        font-weight: 700;
    }

    .bottom-shadow {
        -webkit-box-shadow: 0 4px 6px -6px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #222;
    }

    .font-resume {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 26.88px;
    }

    .font-work-xp {
        font-weight: 700;
        font-size: 20px;
        line-height: 27.24px;
    }

    .previous-job-title {
        font-weight: 700;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-job-subtitle {
        font-weight: 400;
        color: #393939;
        font-size: 12px;
        line-height: 16.34px;
    }

    .previous-job-company {
        font-weight: 700;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-job-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
    }

    .previous-college-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
    }
    .contactInfoFooter:link,
    .contactInfoFooter:visited {
        color: #FFF;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 33px;
    }
}

/*COL-XL*/
@media (min-width: 1200px) {
    ul>li>a[class*="indexPage"] {
        color: #FFF !important;
    }

    ul>li>a[class*="resumePage"] {
        color: #393939 !important;
    }

    .intro-top {
        font-size: 2.6rem;
    }

    .font-top {
        font-size: 3.9rem;
    }

    .button-resume {
        font-size: 1.5rem;
    }

    .nav-button-style {
        font-weight: 400;
        font-size: 1.37rem;
    }

    .work-intro {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0.2em;
    }

    .work-title {
        font-weight: 700;
        font-size: 2.6rem;
        line-height: 57px;
    }

    .work-subtitle {
        font-weight: 400;
        font-size: 1rem;
        line-height: 22px;
        letter-spacing: 0.2em;
        color: #393939;
    }

    .aboutMe-intro {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 32px;
    }

    .button-download-resume {
        width: 155px;
        height: 49px;
        font-size: 1.5rem;
        border: solid 1px #FFF;
        color: #FFF;
    }

    .dihya,
    .hitMeUp {
        font-family: 'Athelas Regular', Georgia, serif;
        font-size: 3.8rem;
        line-height: 69.88px;
    }

    .dihya {
        font-weight: 400;
    }

    .hitMeUp {
        font-style: italic;
        font-weight: 700;
    }

    .contactInfoFooter {
        font-weight: 400;
        font-size: 2rem;
        line-height: 43px;
    }
    .contactInfoFooter:link,
    .contactInfoFooter:visited {
        color: #FFF;
        text-decoration: none;
        font-weight: 400;
        font-size: 2rem;
        line-height: 43px;
    }

    .bottom-shadow {
        -webkit-box-shadow: 0 4px 6px -6px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #222;
    }

    .font-resume {
        font-family: 'Athelas Regular', Georgia, serif;
        font-weight: 700;
        font-size: 3rem;
        line-height: 70px;
    }

    .font-work-xp {
        font-weight: 700;
        font-size: 2rem;
        line-height: 42px;
    }

    .previous-job-title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 42px;
    }

    .previous-job-subtitle {
        font-weight: 400;
        color: #393939;
        font-size: 1.5rem;
        line-height: 42px;
    }

    .previous-job-company {
        font-weight: 700;
        font-size: 2rem;
        line-height: 42px;
    }

    .previous-job-description {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 32.68px;
    }

    .previous-college-description {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 32.68px;
    }

    .footerMessage {
        font-size: 1.5rem;
    }

}

.subsection-navbar {
    background-color: #F7F7F7;
    border-top: #BDBDBD 1px solid;
}


.navbar-opened {
    background: #FFF;
}

.secondSectionMenu {
    background-color: #F7F7F7;
    border-top: #BDBDBD 1px solid
}

#navbarWeight {
    font-size: 0.938em;
}

.btn:focus {
    box-shadow: none !important;
}

.navbar-toggler {
    border: none;
}

.backgroundImageInitBody {
    position: relative;
    margin-top: 70px;
}

.h1Body {
    position: absolute;
    font-size: 42px;
    font-weight: 700;
    margin-left: 35px;
}

.profileImage {
    margin-top: 150px;
    margin-left: 150px;
    width: 210px;
    height: 210px;
    object-fit: cover;
    object-position: 20% 50%;
}

.intro-body {
    font-size: 16px;
    text-align: justify;
    padding: 35px 35px;
}

.background-top {
    height: 800px;
    background: url('../assets/background-top.png');
    backdrop-filter: blur(5px);
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(100px);
    height: 800px;
    width: 100%;
}



.font-top-resume-mainsec {
    color: #000;
    font-size: 16px;
    text-decoration: underline;
    line-height: 24px;
    font-weight: 700;
}

.font-top-resume-subsec {
    color: #000;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
}

.spacing-sides {
    padding: 16px 36px 64px 36px;
    font-weight: 400;
}

.to-uppercase {
    text-transform: uppercase;
}

.spacing-initial-work-content {
    margin-top: 96px;
    margin-bottom: 64px;
}

.work-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #393939;
}

.work-link {
    position: relative;
    top: 50px;
    margin-left: 2.5em;
}

.work-image {
    position: relative;
    top: 70px;

}

.work-breakline {
    width: 75%;
    color: #9C9C9C;
    background-color: #9C9C9C;
}

.work-breakline-100 {
    width: 100%;
    color: #9C9C9C;
    background-color: #9C9C9C;
}

.contacts-breakline {
    width: 100%;
    color: #FFF;
    background-color: #FFF;
}

.background-footer {
    color: #FFF;
    background-color: #2C2C2C;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
}

div>span[class*="font-top-resume-mainsec"]>a:visited {
    color: #000;
}

.subsection-navbar>li>a:link,
.subsection-navbar>li>a:visited {
    color: #000;
    text-decoration: none;
}